.headings-one {
    text-align:center;
    background-color: blueviolet;
    color: rgba(255, 254, 254, 0.795);
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
}

.headings-two {
    text-align: center;
    background-color: rgb(9, 51, 51);
}

ul {
    text-align: center;
    list-style-position: inside;
}

ol {
    text-align: center;
    list-style-position: inside;
}

button {
    background-color: rgb(59, 3, 61);
    color: black;
}

.images {
    text-align: center;
}

p {
    text-align: center;
    
}

#main-heading {
    background-color: blueviolet;
    width: 600px;
    height: auto;
    padding: 8px 8px 8px 8px;
    border: 8px;
    margin: 16px auto;
}

.links {
    width: 600px;
    height: auto;
    padding: 8px;
    background-color: black;
    margin:16px auto;
}


#linkone {
    width: fit-content;
    margin: 16px;
    display: inline;
}

#linktwo {
    width: fit-content;
    display: inline;
    margin: 16px;
}

#linkthree {
    width: fit-content;
    display: inline;
    margin: 16px;
}